# macOS
.DS_Store

# vscode
.vscode
.env

# geckodriver
geckodriver.log

# python
__pycache__/
*.pyc

# python venv
venv/

# dotnet
bin/
obj/

# altwalker
graphwalker-service.log
dotnet-executor.log
altwalker.log

# tests
screenshots/
